In [1]:
import numpy as np
import pandas as pd
import pyodbc as pyo
import sqlalchemy as sa
import numpy as np
import math
connection_uri = (
    "mssql+pyodbc://TEDPHO0134\TANDT_DP/DP_Tan?driver=ODBC+Driver+17+for+SQL+Server"
)
conn = sa.create_engine(connection_uri)

<h3> Phụ lục: Lấy bảng Period <h3>

In [2]:
period = pd.DataFrame(columns=['Period', ])

<h4>1. Lấy bảng Commision <h4>

In [3]:
cutoff = '202401'
commission_query = f"select * from AGENT_COM_CUTOFF where CUTOFF like '{cutoff}%'"
agent_com = pd.read_sql(commission_query, conn)

<h4>2. Lấy bảng PY2 <h4>

In [9]:
py2_query = f"select * from AGENT_COM_CUTOFF where CUTOFF like '{cutoff}%'"
py2 = pd.read_sql(py2_query, conn)

<h4>3. Copy bảng <h4>

In [4]:
com_table = agent_com
py2_table = py2

In [5]:
com_table.head(10)

,Policy No,Product Code,Premium transaction,Premium transaction name,Premium Collected,Collected Date,Applied Premium Date,FYC,RYC,Shared Commission Rate,...,Servicing Agent,Commission Agent,Transfer Date,Proposal Receive Date,Freelook,RISK_COMMENCE_DATE,Receive Policy date,Premium Year,CUTOFF,RETURN_DATE
0,80000013,ETR1,T642,Contract Issue,191000.0,2014-03-31,2014-03-31,40000.0,0.0,100.0,...,60000005,60000005,2014-03-31,2014-03-29,3570.0,2014-03-28,2014-04-08,1,20240115,None
1,80000013,EE01,T642,Contract Issue,3640000.0,2014-03-31,2014-03-31,764000.0,0.0,100.0,...,60000005,60000005,2014-03-31,2014-03-29,3570.0,2014-03-28,2014-04-08,1,20240115,None
2,80000013,EWR1,T642,Contract Issue,40000.0,2014-03-31,2014-03-31,8000.0,0.0,100.0,...,60000005,60000005,2014-03-31,2014-03-29,3570.0,2014-03-28,2014-04-08,1,20240115,None
3,80000013,EWR1,B522,Premium Collection,40000.0,2014-07-29,2014-07-29,9000.0,0.0,100.0,...,60000005,60000005,2014-03-31,2014-03-29,3570.0,2014-03-28,2014-04-08,1,20240115,None
4,80000013,ETR1,B522,Premium Collection,191000.0,2014-07-29,2014-07-29,40000.0,0.0,100.0,...,60000005,60000005,2014-03-31,2014-03-29,3570.0,2014-03-28,2014-04-08,1,20240115,None
5,80000013,EE01,B522,Premium Collection,3640000.0,2014-07-29,2014-07-29,765000.0,0.0,100.0,...,60000005,60000005,2014-03-31,2014-03-29,3570.0,2014-03-28,2014-04-08,1,20240115,None
6,80000013,ETR1,B522,Premium Collection,191000.0,2014-10-27,2014-10-27,40000.0,0.0,100.0,...,60000005,60000005,2014-03-31,2014-03-29,3570.0,2014-03-28,2014-04-08,1,20240115,None
7,80000013,EE01,B522,Premium Collection,3640000.0,2014-10-27,2014-10-27,765000.0,0.0,100.0,...,60000005,60000005,2014-03-31,2014-03-29,3570.0,2014-03-28,2014-04-08,1,20240115,None
8,80000013,EWR1,B522,Premium Collection,40000.0,2014-10-27,2014-10-27,9000.0,0.0,100.0,...,60000005,60000005,2014-03-31,2014-03-29,3570.0,2014-03-28,2014-04-08,1,20240115,None
9,80000013,EWR1,B522,Premium Collection,40000.0,2014-12-28,2014-12-28,8000.0,0.0,100.0,...,60000005,60000005,2014-03-31,2014-03-29,3570.0,2014-03-28,2014-04-08,1,20240115,None

<h4>4. Bổ sung cột liên quan đến CUTOFF <h4>

In [6]:
#Thêm cột ngày xét
Monthly_Com = com_table
Monthly_Com['Date_On_Set'] = "" #Tạo ra cột trống
Monthly_Com['Date_On_Set']= Monthly_Com['Date_On_Set'].str.cat(Monthly_Com['CUTOFF'].str[:4] ,sep ="")
Monthly_Com['Date_On_Set']= Monthly_Com['Date_On_Set'].str.cat(Monthly_Com['CUTOFF'].str[4:6] ,sep ="-")
Monthly_Com['Date_On_Set']= Monthly_Com['Date_On_Set'].str.cat(Monthly_Com['CUTOFF'].str[6:8] ,sep ="-")

In [7]:
#Thêm cột ưu tiên
Monthly_Com['Priority'] = Monthly_Com['CUTOFF'].rank(method='dense', ascending=True)

<h4>5. Biến cột Applied Date và Date_On_Set thành kiểu date <h4>

In [9]:
#Thêm cột ngày đầu tháng:
#-> Đưa vào ngày 1 của tháng
if not('20240229' in Monthly_Com['CUTOFF'].values): 
    Monthly_Com['Start_Month'] = (Monthly_Com['Date_On_Set'].dt.floor('d') + pd.offsets.MonthEnd(0) - pd.offsets.MonthBegin(1))
else:
    Monthly_Com.loc[:,'Start_Month'] = '2024-01-27'

In [10]:
Monthly_Com['Date_On_Set'] = pd.to_datetime(Monthly_Com['Date_On_Set'])
Monthly_Com['Start_Month'] = pd.to_datetime(Monthly_Com['Start_Month'])
Monthly_Com['Applied Premium Date'] = pd.to_datetime(Monthly_Com['Applied Premium Date'])

In [88]:
Monthly_Com['CheckTer'] = np.where(Monthly_Com['Terminated Date'].notnull(),"Terminated", "")

<h4> Tính theo full bảng <h4>

In [102]:
calculate_condition = (Monthly_Com['Applied Premium Date'] >= Monthly_Com['Start_Month']) &\
(Monthly_Com['Applied Premium Date'] <= Monthly_Com['Date_On_Set']) &\
( (Monthly_Com['Policy Status'] != 'SU') | (Monthly_Com['Policy Status'] != 'TR'))
calculate_month = Monthly_Com.loc[calculate_condition]
calculate_month = calculate_month.groupby(['Commission Agent','Policy No', 'Premium transaction name', 'Policy Status', 'Applied Premium Date',\
             "CheckTer",'Issued Date', 'Receive Policy date', 'Freelook', 'CUTOFF'])[['Premium Collected','FYC','RYC']].sum()
calculate_month = calculate_month.reset_index()

In [103]:
#Phân loại ra các trạng thái của HD
calculate_month['Status'] = np.where(calculate_month['Freelook']<=21, "1", 
                     np.where(calculate_month['Receive Policy date'].isnull(), "2",
                     np.where((calculate_month['Policy Status'] == "FL") & (calculate_month['CheckTer'].isnull()), "3",
                     np.where((calculate_month['Policy Status'] != "FL") & (calculate_month['CheckTer'].notnull()), "4", "5")     
                             )))

In [104]:
calculate_month.to_csv("fullmonth.csv")

<h4>6. Kỳ I <h4>

In [16]:
Com_I = (Monthly_Com['Applied Premium Date'] >= Monthly_Com['Start_Month']) &\
(Monthly_Com['Applied Premium Date'] <= Monthly_Com['Date_On_Set']) &\
(Monthly_Com['Priority'] == 1) & ( (Monthly_Com['Policy Status'] != 'SU') | (Monthly_Com['Policy Status'] != 'TR')) 
Monthly_Com_I = Monthly_Com.loc[Com_I]

In [17]:
#Lấy ra các HD trong kỳ I
com_pe_1 = Monthly_Com_I

In [ ]:
#1. Chưa pass FL
#2. Chưa có ACK
#3. Không pass FL trong 21 ngày
#4. Ter trước khi phát sinh phí
#5. Thanh toán

In [18]:
#Phân loại ra các trạng thái của HD
com_pe_1['Status'] = np.where(com_pe_1['Freelook']<=21, "1", 
                     np.where(com_pe_1['Receive Policy date'].isnull(), "2",
                     np.where((com_pe_1['Policy Status'] == "FL") & (com_pe_1['Terminated Date'].isnull()), "3",
                     np.where((com_pe_1['Policy Status'] != "FL") & (com_pe_1['Terminated Date'].notnull()), "4", "5")     
                             )))

C:\Users\vagy1255\AppData\Local\Temp\ipykernel_21248\3588220095.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_pe_1['Status'] = np.where(com_pe_1['Freelook']<=21, "1",

In [60]:
calculate_I = com_pe_1.groupby(['Commission Agent','Policy No', 'Premium transaction name', 'Policy Status', 'Applied Premium Date',\
              'Issued Date', 'Receive Policy date', 'Freelook', 'CUTOFF', 'Status'])[['Premium Collected','FYC','RYC']].sum()
calculate_I = calculate_I.reset_index() #bước này biến group-by result thành DF

In [30]:
#Tính Total Com
calculate_I['Total Com'] = calculate_I['FYC'] + calculate_I['RYC']

In [62]:
#Xét điều kiện:
calculate_I['KyTinhToan'] = calculate_I['CUTOFF']
calculate_I['KyKhoaSo'] = calculate_I['CUTOFF']
calculate_I['KyThanhToan'] = np.where(calculate_I['Status'] == "5", calculate_I['CUTOFF'], "")

In [63]:
calculate_I

,Commission Agent,Policy No,Premium transaction name,Policy Status,Applied Premium Date,Issued Date,Receive Policy date,Freelook,CUTOFF,Status,Premium Collected,FYC,RYC,KyTinhToan,KyKhoaSo,KyThanhToan
0,60000288,80001249,Premium Collection,IF,2024-01-12,2015-12-03,2015-12-09,2960.0,20240115,5,8571000.0,0.0,177000.0,20240115,20240115,20240115
1,60000288,80001250,Premium Collection,IF,2024-01-12,2015-12-03,2015-12-09,2960.0,20240115,5,8995000.0,0.0,185000.0,20240115,20240115,20240115
2,60000449,80028119,Flex Prem Premium Collection,IF,2024-01-05,2018-08-27,2018-09-05,1959.0,20240115,5,500000.0,0.0,5000.0,20240115,20240115,20240115
3,60000503,80000992,Premium Collection,IF,2024-01-15,2015-11-16,2015-11-19,2980.0,20240115,5,5070000.0,0.0,107000.0,20240115,20240115,20240115
4,60000727,80060438,Flex Prem Premium Collection,IF,2024-01-02,2020-06-29,2020-07-10,1285.0,20240115,5,3590000.0,0.0,211000.0,20240115,20240115,20240115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1626,60080394,80156516,Freelook Cancellation,FL,2024-01-11,2023-12-13,2023-12-21,21.0,20240115,1,-8003000.0,-3102000.0,0.0,20240115,20240115,
1627,60080713,80091980,Premium Collection,IF,2024-01-05,2021-09-13,2021-09-17,851.0,20240115,5,7756000.0,0.0,553000.0,20240115,20240115,20240115
1628,60082246,80156541,Contract Issue,IF,2024-01-02,2024-01-02,2024-01-04,12.0,20240115,1,4528000.0,1656000.0,0.0,20240115,20240115,
1629,60082770,80156501,Freelook Cancellation,FL,2024-01-05,2023-11-30,2023-12-15,21.0,20240115,1,-18953000.0,-6065000.0,0.0,20240115,20240115,
1630,60082770,80156502,Freelook Cancellation,FL,2024-01-04,2023-11-30,2023-12-15,20.0,20240115,1,-19808000.0,-3565000.0,0.0,20240115,20240115,