<h3> 1. Retrieve the Data Source <h3>

In [1]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/source.zip

--2024-01-10 00:52:27--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/source.zip
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.45.118.108
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.45.118.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2707 (2,6K) [application/zip]
Saving to: 'source.zip'

     0K ..                                                    100%  506M=0s

2024-01-10 00:52:29 (506 MB/s) - 'source.zip' saved [2707/2707]

In [3]:
#unzip the zip file
import zipfile
with zipfile.ZipFile('source.zip', 'r') as zip_ref:
    zip_ref.extractall()

<h3> 2. Import necessary libraries <h3>

In [5]:
import glob 
import pandas as pd 
import xml.etree.ElementTree as ET 
from datetime import datetime

In [6]:
#declare variables that state file name:
log_file = "log_file.txt" 
target_file = "transformed_data.csv"

<h3>3. Write functions for Extract stage <h3>

In [7]:
#CSV
def extract_from_csv (input_file):
    df = pd.read_csv(input_file)
    return df

In [ ]:
#JSON
def extract_from_json (input_file):
    df = pd.read_json(input_file, lines = True) #Notice how json file is oschestrated as below, in turn, we need to add arg lines = True

<img src="jsonsample.png" alt="Alternative text" />

In [18]:
#XML
def extract_from_xml (input_file):
    dataframe = pd.DataFrame (columns=["name", "height", "weight"]) #blueprint the columns for DF
    tree= ET.parse(input_file) #turn input_file as xml to an instance of ET
    data = tree.getroot() #get into data ticket
    for person in data:
        name = person.find("name").text 
        height = float(person.find("height").text) 
        weight = float(person.find("weight").text) 
        dataframe = pd.concat([dataframe, pd.DataFrame([{"name":name, "height": height, "weight":weight}])], ignore_index=True) #need to be the same name from dataframe which was declared below
    return dataframe

<img src="xmlsample.png" alt="Alternative text" />

In [19]:
extract_from_xml("source3.xml")

    name  height  weight
0  simon   67.90  112.37
1  jacob   66.78  120.67
2  cindy   66.49  127.45
3   ivan   67.62  114.14